*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#drawingComp {
	display:flex;
  	align-items:center;
}

#canvas {
	border: 1px solid black;
}

.clear {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: auto;
	color: #171717;
	border: 1px black;
	font-size: 20px;
	background-color: #ffce00;
}